$containerMaxWidth: 1414px;
$containerMinwidth: 320px;
$containerPadding: 75px;

$fontSize: 16px;
$lineHeight: 120%;
$fontfamily: 'Lato',
sans-serif;

$md1: 1199.98;
$md2: 992.98;
$md3: 767.98;
$md4: 576.98;


$colorAcent: #EB3223;