.header {
   padding-top: 30px;
   padding-bottom: 18px;

   @media (min-width:$md1+px) {
      padding-top: 68px;
      padding-bottom: 56px;
   }

   &__container {
      @media (min-width:$md2+px) {
         display: flex;
         justify-content: space-between;
      }

      @media (min-width:$md1+px) {
         max-width: 1437px;
         padding-left: 15px;
         padding-right: 15px;
      }
   }

   &__logo {
      @media (max-width:$md2+px) {
         text-align: center;
         margin-bottom: 14px;
      }

      a {
         @media (max-width:$md3+px) {
            &:first-child {
               margin-right: 15px;
            }
         }

         @media (min-width:$md3+px) {
            &:first-child {
               margin-right: 55px;
            }
         }
      }

      img {
         @media (max-width:$md1+px) {
            width: 120px;
         }
      }
   }

   &__text {
      text-align: center;

      strong {
         display: block;
         @include adaptiv-font(40, 18);
         line-height: 120%;
         text-transform: capitalize;
         letter-spacing: 0.08em;
         padding-top: 6px;
         margin-bottom: 10px;
      }

      a {
         @include adaptiv-font(22, 12);
         line-height: 26 / 22 * 100%;
         font-weight: 600;
      }
   }
}