.header {
   padding-top: 30px;
   padding-bottom: 18px;

   @media (min-width:$md1+px) {
      padding-top: 68px;
      padding-bottom: 56px;
   }

   &__container {
      @media (min-width:$md2+px) {
         display: flex;
         justify-content: space-between;
      }

      /*
      @media (min-width:$md1+px) {
         max-width: 1437px;
         padding-left: 15px;
         padding-right: 15px;
      }*/
   }

   &__logo {
      @media (max-width:$md2+px) {
         text-align: center;
         margin-bottom: 14px;
      }

      @media (max-width:$md1+px) {
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .logo {
         @media (max-width:$md3+px) {
            &:first-child {
               margin-right: 15px;
            }
         }

         @media (min-width:$md3+px) {
            &:first-child {
               margin-right: 55px;
            }
         }

         @media (max-width:$md1+px) {
            img {
               width: 113px;
            }

            &:last-child {
               margin-left: 30px;

               img {
                  width: 173px;
               }
            }
         }
      }
   }

   &__text {
      @media (max-width:$md2+px) {
         text-align: center;
      }

      @media (min-width:$md2+px) {
         text-align: right;
      }

      @media (min-width:360px) and (max-width:$md3+px) {
         display: flex;
         align-items: center;
         justify-content: space-between;
      }

      strong {
         display: block;
         @include adaptiv-font(40, 15);
         line-height: 120%;
         text-transform: capitalize;
         letter-spacing: 0.08em;
         padding-top: 6px;
         margin-bottom: 10px;

         @media (min-width:360px) and (max-width:$md3+px) {
            color: #404041;
            font-weight: normal;
         }
      }

      a {
         @include adaptiv-font(24, 12);
         line-height: 26 / 22 * 100%;
         font-weight: 600;
      }
   }
}